#status {
  border: 3px solid black;
  margin: 50px;
  width: 50%;
  margin-left: 210px;
  padding: 10px;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

#round {
  border: 3px solid black;
  margin: 10px;
  width: 50%;
  margin-left: 210px;
  margin-top: 0;
  padding: 10px;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

#score {
  width: 75%;
  margin-left: 210px;
  padding-bottom: 25px;
  overflow: hidden;
}

#playerScore {
  border: 3px solid black;
  width: 25%;
  padding: 10px;
  margin-right: 85px;
  float: left;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

#computerScore {
  border: 3px solid black;
  width: 25%;
  padding: 10px;
  text-align: center;
  font-size: large;
  font-weight: bold;
  overflow: hidden;
}

#rockCircle, #paperCircle, #scissorsCircle {
  height: 150px;
  width: 150px;
  background-color: #f2f2f2;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  text-align:center;
  line-height: 150px;
}

h1 {
  text-align: center;
}
